{% extends "template.html" %}
{% block content %}
<main class="post">
    <div class="post-content">
        <div class="container px-auto">
        <h1 class="text-center">    
        O mercado de T.I. na era da IA (e o que Kafka tem a ver com isso)
        </h1>

        <img class="img w-50" src="{{url_for('static', filename='img/metamorfose/GregorSamsaProgramador.png')}}" alt="Foto de Gregor Samsa na Era Tecnológica">
       <div class="mt-4 mb-5"> 
        <p>
        Vamos ser sinceros: na era das IAs, escrever código parece "fácil". 
        Ferramentas geram blocos de código prontos em segundos. O problema? Isso acabou banalizando a habilidade de <i>apenas</i> escrever código.
        Não basta mais ser um "codificador". Você precisa ser um <strong>CRIADOR</strong>.
        E calma, não estou falando de virar Youtuber. Falo de usar sua capacidade humana para criar soluções que uma IA não conseguiria conceber. É aí que (ainda) ganhamos. Uma IA não cria do "zero"; ela remixa o que nós, humanos, já fizemos. Nós usamos nossa bagagem, nossas vivências e nossos sentimentos para criar o novo.
        </p>
        <br>
        E sabe quem entendeu muito sobre o peso da "utilidade"? Franz Kafka, um dos meus autores favoritos. O paralelo pode parecer estranho, mas foque no livro "A Metamorfose".
        <br>
        <br>
        Na história, Gregor Samsa, o protagonista, acorda um dia transformado em um inseto. A partir daí, sua vida desmorona. Por quê? Porque ele não pode mais trabalhar. Ele não pode mais _produzir_.
        Sua família, que antes dependia dele, passa a vê-lo como um fardo, algo inútil e asqueroso.
        Aqui está o "pulo do gato" para o mercado de T.I.: se você só "faz código" (o trabalho braçal que uma IA pode fazer), você corre o risco de se tornar o Gregor. Se você não usar sua capacidade única de **CRIAR** algo de valor e resolver problemas reais, o mercado pode, infelizmente, começar a te ver como algo... inferior.
        <br>
        <br>
        A lição é: não seja o inseto. Seja o <strong>criador</strong>.
        </div>
        </div>
    </div>
</main>

{% endblock %}