{% extends "template.html" %}
{% block content %}
<main id="post">
    <div class="post-content">
        <h1 class="text-center">Bem-vindo</h1>

        <div class="container mt-5">
            <p>Este é um lugar para explorar até onde os pensamentos podem ir.</p>

            <p>Aqui, compartilharei minhas opiniões e ideias, principalmente sobre o vasto mundo da tecnologia. A proposta é discutir os mais diversos ramos que despertam meu interesse, como uma forma de organizar meu raciocínio e aprimorar minha comunicação.</p>

        </div>
    </div>
</main>
{% endblock %}